# Binaries and installers
*.exe
*.msi
*.zip
*.dll
*.xlsx
*~

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# IDE and temp files
.vscode/
.idea/
*.log
cookies.txt
.env
public/uploads/*
!public/uploads/.gitkeep

